<!DOCTYPE html>
<html th:fragment="layout(title,style, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../css/form.css"  th:href="@{/css/form.css}">
    <link rel="stylesheet" href="../css/layout.css" th:href="@{/css/layout.css}">
    <link rel="stylesheet" href="../css/default.css" th:href="@{/css/default.css}">
    <title th:replace="${title}">title</title>
    <th:block th:replace="${style}"/>
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="top-inner">
            <div class="top-title">
                <a href="/">RABLOG</a>
            </div>
            <form method="get" action="/board">
            <div class="search-box">
                <input type="text" name="search" id="search" class="form-control form-control-sm" th:value="${param.search}">
                <img th:src="@{/icon/glass.png}">
            </div>
            </form>
            <div class="menu">
                <ul>
                    <li th:unless="${session.member}"><a href="/member/register">회원가입</a></li>
                    <li th:unless="${session.member}"><a href="/member/login">로그인</a></li>
                    <li th:if="${session.member}"><a href="#">[[${session.member.getName()}]] 님</a></li>
                    <li th:if="${session.member}"><a href="/member/logout">로그아웃</a></li>
                    <li th:if="${session.member}"><a href="/member/myInfo">내 정보 수정</a></li>
                    <li><a href="/board">게시판</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container py-md-3 pl-md-5" style="height:100%;position: initial;">
        <section style="max-width: 700px; padding:40px 0;" th:replace="${content}"></section>
    </div>
</div>
</body>
</html>