<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title},~{::style}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <style></style>
</head>
<body>
<section>
<div class="member-wrap">
<h2 class="page-title">로그인</h2>
    <form name="loginForm" th:object="${form}">
    <div class="form-box">
        <div class="box">
            <input type="text" class="form-control" th:field="*{memberId}" placeholder="아이디">
            <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호">
            <button type="button" id="submit" class="btn btn-dark submit" style="height:3.5rem; font-size: 1.25rem">로그인</button>
            <button style="width:100%;margin-top: 0.7rem"
            th:href="@{|https://kauth.kakao.com/oauth/authorize?client_id=${kakaoClientId}&redirect_uri=${kakaoRedirectUri}&response_type=code&prompt=login|}">
                <img th:src="@{/icon/kakao_login_large_wide.png}" alt="" style="width: 100%;height: 3.5rem">
            </button>
        </div>
    </div>
    </form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript">
    $("#submit").on("click", function(){

        $.ajax({
            url : "/member/login?redirectUrl="+[[${redirectUrl}]],
            type : "post",
            data : $("form").serialize(),
            dataType : "json"
        }).done(function(rs) {
            alert(rs.msg);

            if (rs.result) {
                window.document.location.href = rs.redirectUrl;
            }
        });

    });
</script>
</section>
</body>
</html>
